@using Sandbox;
@using Sandbox.UI;
@namespace HideAndSeek
@inherits PanelComponent

<root>
    <div class="player-stats" style="opacity: @(Proxy)">
	    <div class="health">@Health</div>
        <div class="stamina-background">
            <div class="stamina" style="width: @(StaminaPercentage/5)vh; background-color: @Color"></div>
        </div>
    </div>
    <div class="items">
    </div>
</root>

@code
{
    [Property] public PawnComponent Pawn { get; set; }
    private string Color
    {
        get
        {
            if (Stamina < Pawn.Stats.MaxStamina * 0.2f ) return "red";
            return "lime";
        }
    }
    [Property] public int Health { get { if (Pawn is null || Pawn.Stats is null) return 0; else return Pawn.Stats.Health; } }
    [Property] public float Stamina { get { if (Pawn is null || Pawn.Stats is null) return 0; else return Pawn.Stats.Stamina; } }
    [Property] public double StaminaPercentage { get { if (Pawn == null || Pawn.Stats == null) return 0; return Stamina / (Pawn.Stats.MaxStamina / 100); } }
    [Property] public int Proxy { get { if (IsProxy) return 0; return 1; } }

	/// <summary>
    /// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
    /// </summary>
    protected override int BuildHash() => System.HashCode.Combine(Health, Stamina, StaminaPercentage);
}
