@using Sandbox;
@using Sandbox.UI;
@namespace HideAndSeek
@inherits PanelComponent

<root>
    @if (!Hide)
    {
        <div class="ui" style="opacity: @Opacity">
            <div class="message">
            <div class="title">
                Thank you for joining and testing my game!
            </div>
            <div class="title">
                Do not forget to leave a review on asset.party!
            </div>
            <div class="title">
                Have fun!
            </div>
        </div>
            <button onclick=@(Start) class="close_button">Close</button>
    </div>
    }
</root>

@code
{
    [Property] public GameObject ThisGameObject { get; set; }
    private bool Hide = false;
    private float Opacity = 1;


    private async void Start()
    {
        Opacity = 0;
        await Task.DelayRealtimeSeconds(1000);
        Hide = true;
    }
    /// <summary>
    /// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
    /// </summary>
    protected override int BuildHash() => System.HashCode.Combine(ThisGameObject, Opacity, Hide);
}
