@using Sandbox;
@using Sandbox.UI;
@namespace HideAndSeek
@inherits PanelComponent

<root>
	<div class="title"></div>
    <button onclick=@(Start) class="start_button">Press me</button>
</root>

@code
{
    [Property] public GameComponent GameComp { get; set; }
    [Property] public GameObject ThisGameObject { get; set; }


    private void Start()
    {
        //GameComp.InitGame();
        ThisGameObject.Destroy();
    }
    /// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine( ThisGameObject, GameComp );
}
