ReticleComponent
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	justify-content: center;
	align-items: center;
	z-index: 90;

	.title
	{
		font-size: 1.25vh;
		font-family: Poppins;
		color: #fff;
		text-shadow: 0vh 0vh 1vh black;
	}
}