WaitingScreenComponent {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 110;

	.message {
		display: flex;
		flex-direction: column;
		width: 100%;
		justify-content: flex-start;
		align-items: center;
		transition: all 0.2s linear;

		.title1 {
			//justify-content: flex-start;
			font-weight: bold;
			font-size: 9vh;
			font-style: italic;
			font-family: Poppins;
			color: #fff;
			height: 10vh;
		}

		.title2 {
			//justify-content: flex-start;
			//font-weight: bold;
			margin-top: -5vh;
			font-size: 7vh;
			font-family: Poppins;
			color: #ff6a00;
		}
	}
}
