PawnHUD {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	align-items: center;
	font-weight: bold;
	border-radius: 20px;

	.player-stats {
		display: flex;
		flex-direction: row;
		align-self: flex-end;
		align-items: center;

		.team {
			min-width: 3vh;
			margin: 3vh;
			font-size: 5vh;
			font-family: Inter;
			color: #fff;
			min-width: 6vh;
			justify-content: center;
			border-radius: 100%;
			transition: all 0.1s linear;
		}

		.stamina {
			min-width: 4vh;
			width: 20vh;
			height: 4vh;
			border-radius: 100%;
			transition: all 0.1s linear;
		}

		.stamina-background {
			width: 20vh;
			height: 4vh;
			border-radius: 100%;
			background-color: #0004;
			transition: opacity .2s;
			backdrop-filter: blur( 10px );
		}
	}
}
