MenuUI {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	//background-color: #444;
	//justify-content: center;
	align-items: center;
	//font-weight: bold;
	border-radius: 20px;

	.menu {
		.title {
			font-size: 10vh;
			background-color: white;
			border-radius: 5%;
			font-color: white;
			font-family: Poppins;
			margin-bottom: 5vh;
			font-weight: bold;
			min-width: 40%;
			min-height: 40%;
			box-shadow: 0px 0px 5vh white;
			transition: all 0.1s linear;

			&:hover {
				border-radius: 7%;
			}
		}

		pointer-events: all;
		display: flex;
		flex-direction: column;
		align-self: flex-end;
		margin-left: 6vw;
		margin-bottom: 10vh;

		.play-button, .sample-button, .exit-button {
			font-size: 5vh;
			font-family: Poppins;
			color: #fff;
			background-color: #ff6a0000;
			transition: all 0.2s linear;
			font-weight: bold;
			width: 20%;
/*			border-top-right-radius: 8%;
			border-bottom-right-radius: 8%;*/
		}

		.play-button:hover, .exit-button:hover {
			//font-size: 5vh;
			background-color: #ff6a00;
			width: 100%;
			box-shadow: 0px 0px 4vh #ff6a00;
			padding-left: 50px;
		}

		.exit-button {
			margin-top: 5vh;
		}
	}
}
