@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
    <div class="menu">
        <div class="title">Hide&Seek</div>

	    <button onclick=@(Play) class="play-button">Play</button>

        <button onclick=@(Exit) class="exit-button">Exit</button>
    </div>
</root>

@code
{
    public void Play()
    {
        GameManager.ActiveScene.LoadFromFile("scenes/playing_scene_zero.scene");
    }

    public void Exit()
    {
        Game.Disconnect();
        GameManager.ActiveScene.Destroy();
        Game.Close();
    }

    /// <summary>
    /// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
    /// </summary>
    protected override int BuildHash() => System.HashCode.Combine( 1 );
}
